# Virtual environment
.venv/

# Ignore llama.cpp source and build
llm-engine/llama.cpp/

# Ignore everything in models except README.md
llm-engine/models/*
!llm-engine/models/README.md

# Ignore logs and database files
*.log

# Ignore Python cache files (all packages)
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# environment variables file
.env

# IDE configuration
.vscode/*

# Ignore pdf
*.pdf