# Virtual environment
.venv/

# Ignore llama.cpp source and build
llm-engine/llama.cpp/

# Ignore everything in models except README.md
llm-engine/models/*
!llm-engine/models/README.md

# Ignore logs and database files
*.log

# Ignore Python cache files
llm-engine/__pycache__/